<ion-view title="{{ confirmation.phone }}">
    <ion-nav-buttons side="right">
        <button ng-click="confirmation.confirm()" ng-disabled="!confirmation.code || confirmation.code.length === 0" class="button button-clear button-positive">Готово</button>
    </ion-nav-buttons>

    <ion-content>
        <div class="text-center padding">
            Мы отправили на ваш номер СМС
        </div>
        <div class="text-center padding">
            Для завершение регистрации введите 4-х значный номер
        </div>

        <div class="list padding-top">
            <label class="item item-input">
                <input ng-model="confirmation.code" on-return="confirmation.confirm()" type="text" placeholder="Код">
            </label>
        </div>
    </ion-content>
</ion-view>